div.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	color: white;
}

#pageTitle{
	font-size: 50px;
	text-align: center;
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

h1{
	padding-top: 40px
}

div a.splash{
	background-color: rgb(191, 87, 0);
	text-decoration: none;
	color: white;
	font-size: 50px;
	box-shadow: 0px 5px 5px #888888;
	padding: 20px 20px 20px 20px;
}

#bootstrapBody{
	background-color: rgb(0, 29, 76);
}

#splashBody{
	background-attachment: fixed;
	background-image: url("../images/texas.jpg");
}

table{
	color:white;
	column-count: 5;
	font-size: 30px;
	column-gap: 0px;
	width: 100%;
	border: 1px 1px 1px 1px;
	border-color: white;
	border-style: solid;
	text-align: center;
}

th{
    text-align: center;
    vertical-align: middle;
}

#sort:hover{
	cursor: pointer;
}