<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel = "STYLESHEET" href="{{ url_for('static',filename='css/layout.css') }}" type="text/css"/> 
</head>
<body>
	<div id="nav">
		<ul id="navbar">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
	<div class="center">
		<h3>Zach Quinlan</h3>
		<p>
			I am a junior Computer Science major
		</p>
	</div>
</body>
</html>