<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel = "stylesheet" href = "static/css/layout.css" type = "text/css">
</head>
<body>
	<div id="nav">
		<ul id="navbar">
			<li><a href="index.html">Home</a></li>
			<li><a href="aboutus.html">About Us</a></li>
			<li><a href="books.html">Books</a></li>
			<li><a href="author.html">Authors</a></li>
			<li><a href="publisher.html">Publishers</a></li>
		</ul>
	</div>
	<div class="center">
		<h3>Zach Quinlan</h3>
		<img src="static/images/me.png">
		<p>
			I am a junior Computer Science major
		</p>
	</div>
</body>
</html>