<!DOCTYPE HTML>

<html> 
  <head>
    <title>Douglas Adams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
  </head>

  <body>
	<div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
  <div class="center">	
	<h1>Douglas Adams</h1>
	<hr>
	<img src= "http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Douglas_adams_portrait_cropped.jpg/220px-Douglas_adams_portrait_cropped.jpg">
	<p>
		Douglas Noel Adams was an English author, scriptwriter, essayist, humorist, satirist and dramatist.
		Adams is best known as the author of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio 
		comedy before developing into a \"trilogy\" of five books that sold more than 15 million copies in his lifetime 
		and generated a television series, several stage plays, comics, a computer game, and in 2005 a feature film.
	</p>
	<p>Born: March 11, 1952</p>
	<p>Nationality: English</p>
	<p>Alma Mater: St John's College, Cambridge</p>
	<a href="https://en.wikipedia.org/wiki/Douglas_Adams">Wikipedia</a>
	<hr/>
  </div>
  </body>
</html>