<!DOCTYPE HTML>

<html> 

  <head>
    <title>Allen and Unwin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
  </head>

  <body>
	<div id="nav">
		<ul id="navbar">
			<li><a href="{{url_for('index')}}">Home</a></li>

			<li><a href="{{url_for('aboutus')}}">About Us</a></li>

			<li><a href="{{url_for('books')}}">Books</a></li>

			<li><a href="{{url_for('authors')}}">Authors</a></li>

			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>

  <div class="center">	

	<h1>Allen and Unwin</h1>

	<hr>

	<img src= "https://www.allenandunwin.com/templates/base/images/logo.svg">

	<p>

		Allen and Unwin is the Australian branch established in 1976 by Sir Stanley Unwin. They have a experience in several genres of literature, including memoirs, commercial non-fiction and politics.

	</p>

	<p>Owner: Independent (CEO: RObert Gorman)</p>

	<a href="https://www.allenandunwin.com/">Publisher Website</p>

	<a href="https://en.wikipedia.org/wiki/Allen_%26_Unwin">Wikipedia Entry</a>

	<hr/>

  </div>

  </body>

</html>