<!DOCTYPE html>
<html>
<head>
	<title>Authors</title>
	<link rel = "STYLESHEET" href="{{ url_for('static',filename='css/layout.css') }}" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	<script type="text/javascript">
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("authorsTable");
			switching = true;
			// Set the sorting direction to ascending:
			dir = "asc"; 
			/* Make a loop that will continue until
			no switching has been done: */
			while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.getElementsByTagName("TR");
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i = 1; i < (rows.length - 1); i++) {
					// Start by saying there should be no switching:
					shouldSwitch = false;
					/* Get the two elements you want to compare,
					one from current row and one from the next: */
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					/* Check if the two rows should switch place,
					based on the direction, asc or desc: */
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					} else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					// Each time a switch is done, increase this count by 1:
					switchcount ++; 
				} else {
					/* If no switching has been done AND the direction is "asc",
					set the direction to "desc" and run the while loop again. */
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
</head>
<body>
	<div id="nav">
		<ul id="navbar">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
	<h1 id = "pageTitle">Authors</h1>
	<table id = "authorsTable" BORDER = "2">
		<tr>
			<th onclick = "sortTable(0)">Author Name</th>
			<th onclick = "sortTable(1)">Date of Birth</th>
			<th onclick = "sortTable(2)">Alma Mater</th>
			<th onclick = "sortTable(3)">Nationality</th>
			<th onclick = "sortTable(4)">Book</th>
		</tr>
		<tr>
			<td><a href = "{{url_for('adams')}}">Douglas Adams</a></td>
			<td>March 11, 1952</td>
			<td>Cambridge University</td>
			<td>English</td>
			<td>The Restaurant at the End of the Universe</td>
		</tr>
		<tr>
			<td><a href = "{{url_for('card')}}">Orson Scott Card</a></td>
			<td>August 24, 1951</td>
			<td>Brigham Young University</td>
			<td>American</td>
			<td>Ender's Game</td>
		</tr>
		<tr>
			<td><a href = "{{url_for('sanderson')}}">Garth Nix</a></td>
			<td>July 19, 1963</td>
			<td>Canberra University</td>
			<td>Australian</td>
			<td>Goldenhand</td>
		</tr>
</body>
</html>