<!DOCTYPE html>
<html>
<head>
	<link rel = "STYLESHEET" href="{{ url_for('static',filename='css/layout.css') }}" type="text/css"/> 
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	<title>Books</title>
	<script type="text/javascript">
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("authorsTable");
			switching = true;
			// Set the sorting direction to ascending:
			dir = "asc"; 
			/* Make a loop that will continue until
			no switching has been done: */
			while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.getElementsByTagName("TR");
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i = 1; i < (rows.length - 1); i++) {
					// Start by saying there should be no switching:
					shouldSwitch = false;
					/* Get the two elements you want to compare,
					one from current row and one from the next: */
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					/* Check if the two rows should switch place,
					based on the direction, asc or desc: */
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					} else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					// Each time a switch is done, increase this count by 1:
					switchcount ++; 
				} else {
					/* If no switching has been done AND the direction is "asc",
					set the direction to "desc" and run the while loop again. */
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
</head>
<body>
	<div id="nav">
		<ul id="navbar">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
	<h1 id="pageTitle">Books</h1>
	<hr/>
	<table id="booksTable">
		<tr>
			<th onclick = "sortTable(0)">Title</th> 
			<th onclick = "sortTable(0)">Author</th>
			<th onclick = "sortTable(0)">ISBN</th>
			<th onclick = "sortTable(0)">Publication Date</th>
			<th onclick = "sortTable(0)">Google ID</th>	
		</tr>
		<tr>
			<td><a href="" style="text-decoration: italic">The Way of Kings</a></td>
			<td>Brandon Sanderson</td>
			<td>1429992808</td>
			<td>2010-08-31</td>
			<td>OHclhBVv-X4C</td>
		</tr>
		<tr>
			<td><a href="" style="text-decoration: italic">Ender's Game</a></td>
			<td>Orson Scott Card</td>
			<td>0765317389</td>
			<td>2006-10-31</td>
			<td>Z5QtUpmbcDwC</td>
		</tr>
		<tr>
			<td><a href="" style="text-decoration: italic">The Restaurant at the End of the Universe</a></td>
			<td>Douglas Adams</td>
			<td>0307497569</td>
			<td>2008-12-24</td>
			<td>DQ-wif7eBJoC</td>
		</tr>
	</table>
</body>
</html>