<!DOCTYPE HTML>

<html> 
  <head>
    <title>Orson Scott Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
  </head>

  <body id="bootstrapBody">
	<div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
  <div class="center">	
	<h1>Orson Scott Card</h1>
	<hr>
	<img src= "http://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg/250px-Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg">
	<p>
		Orson Scott Card is an American novelist, critic, public speaker, 
		essayist and columnist. He writes in several genres but is known 
		best for science fiction.
	</p>
	<p>Born: August 24, 1951</p>
	<p>Nationality: American</p>
	<p>
		Alma Mater: Birgham Young University<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;University of Utah (M.A)<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; University of Notre Dame (Grad Student)
	</p>
	<a href="https://en.wikipedia.org/wiki/Orson_Scott_Card">Wikipedia</a>
	<hr/>
  </div>
  </body>
</html>