<!DOCTYPE HTML>

<html> 

  <head>
    <title>Del Rey Books</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
  </head>

  <body>
	div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li class = "active"><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>

  <div class="center">	

	<h1>Del Rey Books</h1>

	<hr>

	<img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Del_Rey_logo.png/150px-Del_Rey_logo.png">

	<p>

		Del Rey Books was established in 1977 by Lester Del Rey and his wife Judy-Lynn del Rey. They have a focus in science fiction and fantasy, including novelizations from the Batman and Star Wars Universes.

	</p>

	<p>Owner: Random House</p>

	<a href="http://www.randomhousebooks.com/">Publisher Website</p>

	<a href="https://en.wikipedia.org/wiki/Del_Rey_Books../authors-Orson_Scott_Card/">Wikipedia Entry</a>

	<hr/>

  </div>

  </body>

</html>
