<!DOCTYPE HTML>



<html> 

  <head>

    <title>Ender's Game</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

  </head>



  <body id="bootstrapBody">

	<div class = "container">
	
		<ul class = "nav nav-tabs nav-fill">
	
			<li><a href="{{url_for('index')}}">Home</a></li>
	
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
	
			<li><a href="{{url_for('books')}}">Books</a></li>
	
			<li><a href="{{url_for('authors')}}">Authors</a></li>
	
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
	
		</ul>
	
	</div>

  <div class="center">	

	<h1>Ender's Game</h1>

	<hr>

	<img src= "https://books.google.com/books/content/images/frontcover/Z5QtUpmbcDwC?fife=w500">

	<p>

		Child hero Ender Wiggin must fight a desperate battle against a deadly alien race if mankind is to survive.

	</p>

	<p>ISBN: 0765317389</p>

	<p>Publication Date: 2006-10-31</p>

	<a href="{{url_for('palgravemacmillan')}}">Publisher: Palgrave Macmillan</p>

	<a href="../authors-Orson_Scott_Card/">Author: Orson Scott Card</a>

	<hr/>

  </div>

  </body>

</html>