<!DOCTYPE HTML>



<html> 

  <head>

    <title>Goldenhand</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

  </head>



  <body>

	<div class = "container">

		<ul class = "nav nav-tabs nav-fill">

			<li><a href="{{url_for('index')}}">Home</a></li>

			<li><a href="{{url_for('aboutus')}}">About Us</a></li>

			<li><a href="{{url_for('books')}}">Books</a></li>

			<li><a href="{{url_for('authors')}}">Authors</a></li>

			<li><a href="{{url_for('publishers')}}">Publishers</a></li>

		</ul>

	</div>

  <div class="center">	

	<h1>Goldenhand</h1>

	<hr>

	<img src= "https://books.google.com/books/content/images/frontcover/q845DAAAQBAJ?fife=w500">

	<p>

		Lirael is no longer a shy Second Assistant Librarian - she's now the Abhorsen-in-Waiting, with a new hand, one of gilded steel and Charter Magic. When she discovers Nicholas Sayre lying unconscious, she uses her powers to save him. But the attack has left Nicholas tainted with Free Magic, so together they embark on a dangerous journey to seek help at Lirael's childhood home, the Clayr's Glacier. A young woman from the distant North is travelling to meet them bearing a message from Lirael's long-dead mother, Arielle. It is a warning about the Witch with No Face. But who is the Witch, and what is she planning? Lirael must save the Old Kingdom from this great danger - and it must be forestalled not only in the living world but also in the cold, remorseless river of Death.

	</p>

	<p>ISBN: 9781741768022</p>

	<p>Publication Date: 2016-09-28</p>

	<a href="{{url_for('allenandunwin')}}">Publisher: Allen and Unwin</p>

	<a href="../authors-Garth_Nix/">Author: Garth Nix</a>

	<hr/>

  </div>

  </body>

</html>