<!DOCTYPE HTML>
<html>
<head>
	<link rel = "stylesheet" href = "layout.css" type = "text/css">
</head>
<body id="splashBody">
	<title>Project 3 imdb</title>
	<h1 id="splash">
		Welcome to our website!
	</h1>
	<div class="center">
		<a href="aboutus.html" class="splash">About Us</a>
	</div>
	<div class="center">
		<a href="books.html" class="splash">Books</a>
	</div>
	<div class="center">
		<a href="author.html" class="splash">Authors</a>
	</div>
	<div class="center">
		<a href="publisher.html" class="splash">Publishers</a>
	</div>

</body>
</html>