<!DOCTYPE HTML>
<html>
<head>
	<link rel = "stylesheet" href = "static/css/layout.css" type = "text/css">
</head>
<body id="splashBody">
	<title>Project 3 idb</title>
	<h1 id="splash">
		Welcome to our website!
	</h1>
	<div class="center">
		<a href="templates/aboutus.html" class="splash">About Us</a>
	</div>
	<div class="center">
		<a href="templates/books.html" class="splash">Books</a>
	</div>
	<div class="center">
		<a href="templates/author.html" class="splash">Authors</a>
	</div>
	<div class="center">
		<a href="templates/publisher.html" class="splash">Publishers</a>
	</div>

</body>
</html>