<!DOCTYPE HTML>

<html> 
  <head>
    <title>Garth Nix</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
  </head>

  <body id="bootstrapBody">
	<div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('aboutus')}}">About Us</a></li>
			<li><a href="{{url_for('books')}}">Books</a></li>
			<li><a href="{{url_for('authors')}}">Authors</a></li>
			<li><a href="{{url_for('publishers')}}">Publishers</a></li>
		</ul>
	</div>
  <div class="center">	
	<h1>Garth Nix</h1>
	<hr>
	<img src= "http://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Garth_nix_2012.jpg/250px-Garth_nix_2012.jpg">
	<p>
		Garth Richard Nix is an Australian writer who specialises in children's and young adult fantasy novels, notably the Old Kingdom, Seventh Tower and Keys to the Kingdom series.
	</p>
	<p>Born: July 19, 1963</p>
	<p>Nationality: Australian</p>
	<p>Alma Mater: University of Canberra</p>
	<a href="https://en.wikipedia.org/wiki/Garth_Nix">Wikipedia</a>
	<hr/>
  </div>
  </body>
</html>